In [6]:
import numpy as np
import pandas as pd

In [5]:
myindex = ['USA','Canada','India']

In [6]:
mydata = [1776,1867,1947]

In [7]:
myser = pd.Series(data = mydata)

In [8]:
myser

0    1776
1    1867
2    1947
dtype: int64

In [9]:
myser = pd.Series(data = mydata,index = myindex)

In [10]:
myser

USA       1776
Canada    1867
India     1947
dtype: int64

In [11]:
myser[0]

1776

In [12]:
myser['USA']

1776

In [13]:
ages = {'Sam':5 , 'Frank': 7 ,'Shivam': 19}

In [18]:
age = pd.Series(ages)

In [19]:
age[0]

5

In [21]:
age['Shivam']

19

In [10]:
# Imagine the sales data of quater q1 and q2 of a company
q1 = {'Japan': 80, 'China': 299, 'India' : 700}
q2 = {'Brazil': 180, 'HongKong': 299, 'India' : 770}

In [12]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [14]:
sales_q1

Japan     80
China    299
India    700
dtype: int64

In [20]:
sales_q1.keys()

Index(['Japan', 'China', 'India'], dtype='object')

In [22]:
sales_q1_2 = sales_q1 + sales_q2

In [24]:
sales_q1_2

Brazil         NaN
China          NaN
HongKong       NaN
India       1470.0
Japan          NaN
dtype: float64

In [28]:
sales_q1_2 = sales_q1.add(sales_q2,fill_value = 20)  # fill_values will act as the vaule of the keys missing in any of 2 series
sales_q1_2         # check the new dtype is float eventhough we added ingteger

Brazil       200.0
China        319.0
HongKong     319.0
India       1470.0
Japan        100.0
dtype: float64

In [30]:
pd.Series(sales_q1_2,dtype = 'int')

Brazil       200
China        319
HongKong     319
India       1470
Japan        100
dtype: int32